.Summary {
    display: flex;
    flex-direction: column;
}

.Summary-heading {
    margin-top: 0.5em;
    font-size: 2em;
    margin-bottom: 1em;
}

.Summary-pie {
    height: 400px;
}

.Summary-bar {
    height: 100px;
    width: 100vw;
    margin-top: 1em;
}