.Prediction {
    display: flex;
    flex-direction: column;
}

.Prediction-heading {
    margin-top: 0.5em;
    font-size: 2em;
    margin-bottom: 1em;
}

.Prediction-bubble {
    height: 400px;
}

.arrow {
    pointer-events: none;
  }
   
  .arrow__path {
    stroke: #10063c;
    fill: transparent;
    stroke-width: 4px;
    stroke-dasharray: 4 2;
  }
   
  .arrow__head line {
    stroke: #f56709;
    stroke-width: 5px;
  }